Package: %NAME%
Version: %VERSION%
Standards-Version: 1.0.0
Section: Science
Priority: optional
Architecture: all
Depends:
Build-Depends: lazarus-ide
Suggests: mcxlab, mcxcl, mmc
Installed-Size: 13124
Maintainer: Qianqian Fang <q.fang@neu.edu>
Homepage: http://mcx.space
Vcs-Git: https://github.com/fangq/mcx.git
Vcs-Browser: https://github.com/fangq/mcx
Description: 
