[Desktop Entry]
Name=MCX Studio
Name[zh_CN]=MCX光子模拟器
Name[zh_TW]=MCX光子模擬器
Comment=Start MCX Studio
Comment[zh_CN]=启动MCX光子模拟器
Comment[zh_TW]=啟動MCX光子模擬器
Exec=mcxstudio --user
TryExec=mcxstudio --user
Icon=/usr/share/icons/mcx/scalable/mcx_2020_logo.svg
Terminal=false
Type=Application
StartupNotify=true
Categories=Education;Science;DataVisualization;MedicalSoftware;
Keywords=Photon;Monte Carlo;MCX;MMC;GPU;OpenCL;CUDA