1 24 "mcxstudio2.manifest"
MCXICONPNG 10 "../../icons/mcxstudio2.png"
MCXICON_NEW 10 "../../icons/new.png"
MCXICON_OPEN 10 "../../icons/open.png"
MCXICON_SAVE 10 "../../icons/save.png"
MCXICON_SAVEAS 10 "../../icons/saveas.png"
MCXICON_RUN 10 "../../icons/run.png"
MCXICON_STOP 10 "../../icons/stop.png"
MCXICON_GPU 10 "../../icons/gpu.png"
MCXICON_BENCH 10 "../../icons/bench.png"
MCXICON_WIZARD 10 "../../icons/wizard.png"
MCXICON_EXPERT 10 "../../icons/expert.png"
MCXICON_PREVIEW 10 "../../icons/preview.png"
MCXICON_RESET 10 "../../icons/reset.png"
MCXICON_FIT 10 "../../icons/fit.png"
MCXICON_GRID 10 "../../icons/grid.png"
MCXICON_BOX 10 "../../icons/box.png"
MCXICON_SUBGRID 10 "../../icons/subgrid.png"
MCXICON_SPHERE 10 "../../icons/sphere.png"
MCXICON_CYLINDER 10 "../../icons/cylinder.png"
MCXICON_XLAYERS 10 "../../icons/xlayers.png"
MCXICON_YLAYERS 10 "../../icons/ylayers.png"
MCXICON_ZLAYERS 10 "../../icons/zlayers.png"
MCXICON_XSLABS 10 "../../icons/xslabs.png"
MCXICON_YSLABS 10 "../../icons/yslabs.png"
MCXICON_ZSLABS 10 "../../icons/zslabs.png"
MCXICON_SOURCE 10 "../../icons/source.png"
MCXICON_DETECTOR 10 "../../icons/detector.png"
MCXICON_MEDIA 10 "../../icons/media.png"
MCXICON_ADD 10 "../../icons/add.png"
MCXICON_DELETE 10 "../../icons/delete.png"
MCXICON_ABOUT 10 "../../icons/about.png"
